<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <CodeCoverage>
            <Include>
              <ModulePath>.*</ModulePath>
              <SourceFiles>
                <Include>
                  <SourceFile>.*\\Controllers\\.*</SourceFile>
                  <SourceFile>.*\\Services\\.*</SourceFile>
                </Include>
              </SourceFiles>
            </Include>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>