.flashcard-titles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.flashcard-title-button {
    background: #950018E5;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.flashcard-title-button:hover {
    background: #7b0015e5;
}

.container {
    background: var(--Background-element-red, #80273080);
    margin: 5rem auto 0 auto;
    width: fit-content;
    padding: 2rem;
    text-align: center;
    border-radius: 12px; 
}


